# Python
__pycache__/
*.pyc
.env
*.env

# Data
backend/app/data/

# Settings
backend/app/settings.sqlite

# venv (lokal, nicht ins Repo)
venv/
backend/venv/

# Node
node_modules/
frontend/node_modules/

# Build
dist/
frontend/dist/

# Sonstiges
.DS_Store
